.btnStartRecipe {
  background-color: rgb(255, 70, 70);
  border: none;
  bottom: 0;
  color: whitesmoke;
  font-weight: 600;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.btnStartRecipeHidden {
  display: none;
  visibility: hidden;
}
