.container-thumb {
  background-color: rgb(228, 142, 127);
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}

.thumb-recipe {
  width: 100%;
}

.header-recipe {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.category {
  background-color: rgb(243, 127, 127);
  border-radius: 20px;
  color: whitesmoke;
  display: inline-block;
  padding: 2px 15px;
  margin: 0;
  font-size: 14px;
}

.buttons {
  text-align: center;
}

.buttons > button {
  background: none;
  border: none;
  margin: 0 5px;
}

.buttons > button:focus {
  outline: none;
}

.buttons > button > img {
  width: 30px;
}

.instructions-recipe {
  padding: 0 10px;
}

.instructions-recipe > ul {
  list-style: none;
  text-indent: 10px;
}

.instructions-recipe > p {
  text-align: justify;
  padding: 10px;
}

.instructions-recipe > iframe {
  width: 100%;
}

.btnStartRecipe {
  background-color: rgb(255, 70, 70);
  border: none;
  bottom: 0;
  color: whitesmoke;
  font-weight: 600;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.btnStartRecipeHidden {
  display: none;
  visibility: hidden;
}

.recommenndation-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.recommendation-card {
  /* scroll-snap-align: start; */
  flex-shrink: 0;
  width: 170px;
  height: 160px;
  margin-right: 5px;
  background: rgb(53, 46, 46);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.recommendation-card > p {
  color: whitesmoke;
  margin: 0;
  margin-top: 8px;
  text-align: center;
}

.card-thumb {
  width: 100%;
  height: 120px;
  overflow: hidden;
}
