.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem 0 calc(72px + 1rem) 0;
}

.category-btn-filters {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.category-btn-filters > button {
  border: none;
  border-radius: 20px;
  font-size: 12px;
  margin: 2px;
  padding: 5px 8px;
}

.category-btn-filters > button:focus {
  outline: none;
}

.btn-active {
  background-color: rgb(251, 152, 135);
  color: rgb(31, 25, 25);
  font-weight: 600;
}

.btn-no-active {
  background-color: rgb(224, 222, 222);
  color: rgb(31, 25, 25);
  font-weight: 600;
}
