.logo-loading {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.loading-container > .loading-heading {
  animation: shake 1.5s infinite ease;
  color: rgb(255, 71, 71);
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}
